:root {
  --primary-text-color: #212121;
  --secondary-text-color: #757575;
  --accent-color: #2196F3;
  --button-text: #fff;
  --background: #2F303A;
  --button-background: #F5F4FA;
  --icon-color: #AFB1B8;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

body {
  background-color: var(--button-text);
  color: var(--primary-text-color);
  font-family: Roboto, sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
b {
  margin-top: 0;
  margin-bottom: 0;
}

ul {
  list-style: none;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

img {
  display: block;
}

a {
  text-decoration: none;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.container {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

.logo-first,
.logo-footer,
.logo-first-header {
  color: var(--accent-color);
  font-family: Raleway, serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
}

.logo-second {
  color: #000;
}

.logo-footer {
  color: var(--button-text);
}

.logo-first {
  margin-bottom: 20px;
}

.logo-first,
.logo-footer {
  display: inline-block;
}

.header-contacts {
  display: flex;
  column-gap: 50px;
  margin-left: auto;
}

.contact-icon {
  margin-right: 10px;
  fill: currentColor;
  cursor: pointer;
}

.header-contacts .link {
  display: flex;
  align-items: center;
  color: var(--secondary-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.5;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.header-contacts .link,
.footer-contacts .link {
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.header-contacts .link:hover,
.header-contacts .link:focus,
.footer-contacts .link:hover,
.footer-contacts .link:focus {
  color: var(--accent-color);
}

.footer-contacts .link {
  color: rgba(255, 255, 255, 0.6);
  font-size: 14px;
  line-height: 1.5;
  font-style: normal;
}

.sns {
  display: flex;
  justify-content: center;
  column-gap: 10px;
}

.sns-link {
  width: 44px;
  height: 44px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.sns-link:hover,
.sns-link:focus {
  background-color: var(--accent-color);
  border-radius: 50%;
}

.sns-icon {
  fill: var(--icon-color);
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.sns-link:hover .sns-icon,
.sns-link:focus .sns-icon {
  fill: var(--button-text);
  cursor: pointer;
}

.sns-join-list {
  display: flex;
  column-gap: 10px;
}

.sns-join-link {
  width: 44px;
  height: 44px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
  fill: var(--button-text);
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.sns-join-link:hover,
.sns-join-link:focus {
  background-color: var(--accent-color);
  border-radius: 50%;
}

.hero-title {
  color: var(--button-text);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.4;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 30px;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  z-index: 10;
  opacity: 1;
  transition-property: opacity, visibility;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  min-width: 528px;
  min-height: 581px;
  background-color: var(--button-text);
  padding: 40px;
}

.modal-button {
  position: absolute;
  top: 8px;
  right: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  padding: 0;
  background-color: transparent;
  border: solid;
  border-width: 1px;
  border-radius: 50%;
  border-color: rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-button:hover,
.modal-button:focus {
  fill: var(--accent-color);
}

.modal-form {
  display: flex;
  flex-direction: column;
}

.modal-form-title {
  display: block;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  text-align: center;
  color: var(--primary-text-color);
  margin-bottom: 12px;
}

.user-data {
  margin-bottom: 10px;
}

.user-data-label {
  font-size: 12px;
  line-height: 1.2px;
  letter-spacing: 0.01em;
  color: var(--secondary-text-color);
  margin-bottom: 4px;
}

.form-icon-thumb {
  position: relative;
  display: block;
}

.form-icon {
  position: absolute;
  top: 50%;
  left: 12px;
  transform: translateY(-50%);
  display: block;
}

.user-input,
.form-comment {
  width: 100%;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  outline: none;
  transition-property: border-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.user-input {
  height: 40px;
  padding-left: 42px;
}

.user-input:focus {
  border-color: var(--accent-color);
  cursor: pointer;
}

.form-icon {
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.user-input:focus + .form-icon {
  fill: var(--accent-color);
  cursor: pointer;
}

.user-data-comment {
  margin-bottom: 25px;
}

.form-comment {
  height: 120px;
  resize: none;
  padding: 12px 16px;
}

.form-comment:focus {
  border-color: var(--accent-color);
  cursor: pointer;
}

.form-comment::placeholder {
  font-size: 12px;
  line-height: 1.2;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.checkbox-wrapper {
  display: flex;
  align-items: center;
  margin-bottom: 30px;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
}

.form-check {
  border-width: 1px;
  border-color: var(--primary-text-color);
  border-style: solid;
  border-radius: 2px;
  padding: 4px 2px 3px 3px;
  margin-right: 7px;
  cursor: pointer;
  fill: #fff;
}

.form-checkbox:checked + .form-check {
  background-color: var(--accent-color);
  border-color: var(--accent-color);
}

.contract-check {
  text-decoration: underline;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: var(--accent-color);
}

.modal-form-btn {
  align-self: center;
  background-color: var(--accent-color);
  color: var(--button-text);
  border-color: transparent;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  cursor: pointer;
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.9;
  letter-spacing: 0.06em;
  border-radius: 4px;
  border: none;
  padding: 10px 52px;
  transition-property: background-color, box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-btn:hover,
.modal-form-btn:focus {
  background-color: #188CE8;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.work-thumb {
  position: relative;
  overflow: hidden;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(33, 150, 243, 0.9);
  color: #fff;
  padding: 63px 24px;
  font-family: inherit;
  font-size: 18px;
  line-height: 1.5;
  letter-spacing: 0.03em;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.work-link:hover .overlay,
.work-link:focus .overlay {
  transform: translateY(0%);
}

.header-container {
  display: flex;
  align-items: center;
}

.page-header {
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #ECECEC;
  padding-top: 24px;
  padding-bottom: 25px;
}

.navigation {
  margin-left: 93px;
}

.site-nav {
  display: flex;
  column-gap: 50px;
}

.link-nav {
  color: var(--primary-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.5;
  position: relative;
  display: block;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.link-nav::after {
  content: " ";
  display: block;
  width: 100%;
  height: 5px;
  background-color: var(--accent-color);
  border-radius: 2px;
  position: absolute;
  bottom: -31px;
  opacity: 0;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.link-nav:hover::after,
.link-nav:focus::after {
  opacity: 1;
}

.link-nav:hover,
.link-nav:focus {
  color: var(--accent-color);
}

.link-nav.current {
  color: var(--accent-color);
}

.link-nav.current::after {
  opacity: 1;
}

.hero {
  /*background-color: var(--background);*/
  text-align: center;
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 200px;
  padding-bottom: 200px;
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/hero.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.hero-button {
  background-color: var(--button-background);
  color: var(--primary-text-color);
  border-color: transparent;
  cursor: pointer;
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.9;
  border-radius: 4px;
  border: none;
  padding: 10px 32px;
  transition-property: color, background-color, box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.hero-button:hover,
.hero-button:focus {
  background-color: var(--accent-color);
  color: var(--button-text);
  border-radius: 4px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.icon-block {
  width: 270px;
  height: 120px;
  background-color: var(--button-background);
  border-radius: 4px;
  margin-bottom: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.item {
  max-width: 270px;
}

.advantages-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.2;
  margin-bottom: 10px;
}

.advantages-text {
  color: var(--secondary-text-color);
  font-size: 14px;
  line-height: 1.7;
}

.advantages {
  display: flex;
  column-gap: 30px;
}

.section-images {
  padding-bottom: 94px;
}

.title-images {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.2;
  text-align: center;
  margin-bottom: 50px;
}

.images {
  display: flex;
  column-gap: 30px;
}

.images-thumb {
  position: relative;
  display: block;
}

.images-description {
  position: absolute;
  bottom: 0;
  width: 100%;
  display: block;
  padding-top: 27px;
  padding-bottom: 27px;
  background-color: rgba(47, 48, 58, 0.8);
  color: var(--button-text);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.2;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.03em;
  font-family: inherit;
}

.team {
  background-color: var(--button-background);
}

.title-team {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.2;
  text-align: center;
  margin-bottom: 50px;
}

.team-name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.2;
  margin-bottom: 10px;
}

.team-position {
  color: var(--secondary-text-color);
  line-height: 1.2;
  margin-bottom: 16px;
}

.name-position {
  border-radius: 0px 0px 4px 4px;
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: #fff;
}

.person {
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.people {
  display: flex;
  column-gap: 30px;
  text-align: center;
}

.customers {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.2;
  text-align: center;
}

.customers-list {
  display: flex;
  justify-content: center;
  column-gap: 30px;
  margin-top: 50px;
}

.customers-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 170px;
  height: 92px;
  border-radius: 4px;
  border-style: solid;
  border-color: var(--icon-color);
  border-width: 1px;
  transition-property: border;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.customers-link:hover,
.customers-link:focus {
  border-radius: 4px;
  border-style: solid;
  border-color: var(--accent-color);
  border-width: 1px;
}

.company-icon {
  fill: var(--icon-color);
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.customers-link:hover .company-icon,
.customers-link:focus .company-icon {
  fill: var(--accent-color);
  cursor: pointer;
}

.footer {
  background-color: var(--background);
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer-container {
  display: flex;
  align-items: baseline;
}

.address {
  color: var(--button-text);
  font-style: normal;
  font-size: 14px;
  margin-bottom: 9px;
}

.mail-tel:not(:last-child) {
  margin-bottom: 9px;
}

.join {
  margin-left: 70px;
}

.title-join {
  color: var(--button-text);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.2;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.footer-subscribe {
  margin-left: 70px;
}

.footer-subscribe-title {
  display: block;
  color: var(--button-text);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.2;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.footer-subscribe-thumb {
  display: flex;
  column-gap: 12px;
}

.footer-user-input {
  width: 358px;
  height: 50px;
  padding-left: 16px;
  color: #fff;
  outline: none;
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  cursor: pointer;
}

.footer-user-input::placeholder {
  padding-top: 15px;
}

.subscribe-link {
  padding: 10px 28px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  color: var(--button-text);
  background-color: var(--accent-color);
  font-size: 16px;
  font-weight: 700;
  line-height: 1.9;
  letter-spacing: 0.06em;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.subscribe-icon {
  margin-left: 10px;
}

.filter-button {
  background-color: var(--button-background);
  color: var(--primary-text-color);
  border-color: transparent;
  cursor: pointer;
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  padding: 6px 25px;
  border-radius: 4px;
  border: none;
  transition-property: color, background-color, box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.filter-button:hover,
.filter-button:focus {
  background-color: var(--accent-color);
  color: var(--button-text);
  border-radius: 4px;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.nav-buttons {
  display: flex;
  justify-content: center;
  column-gap: 8px;
  margin-bottom: 50px;
}

.work-example {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.work {
  flex-basis: calc((100% - 60px) / 3);
}

.work-title {
  color: var(--primary-text-color);
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  margin-bottom: 4px;
}

.work-link {
  display: block;
  transition-property: box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.work-link:hover,
.work-link:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.title-description {
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #EEEEEE;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #EEEEEE;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #EEEEEE;
  padding: 20px 24px;
}

.work-description {
  color: var(--secondary-text-color);
  line-height: 1.9;
}/*# sourceMappingURL=main.css.map */