.section-images {
    padding-bottom: 94px;
}


.title-images {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.2;
    text-align: center;
    margin-bottom: 50px;
}

.images {
    display: flex;
    column-gap: 30px;
}

.images-thumb {
    position: relative;
    display: block;
}

.images-description {
    position: absolute;
    bottom: 0;
    width: 100%;
    display: block;
    padding-top: 27px;
    padding-bottom: 27px;
    background-color: rgba(47, 48, 58, 0.8);
    color: var(--button-text);
    font-weight: 700;
    font-size: 14px;
    line-height: 1.2;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 0.03em;
    font-family: inherit;
}